main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.zodiac {
  background-color: #6b7fd7;
  margin: 20px;
  height: 175px;
  width: 200px;
  border-radius: 10px;
  font-family: 'space and astronomy';
  color: #ddfbd2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  margin: 0px;
}

.date {
  margin: 0px;
}
